@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #141414;
}

* {
    font-family: Poppins;
    text-align: center;
    color: aliceblue;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-decoration: underline 2px orange;
}

.passworderror,
.pseudoerror,
.emailerror {
    color: red;
}

form {
    width: max-content;
    margin: auto;
    padding: 2rem;
    border: 2px solid grey;
    border-top: none;
    border-bottom: none;
}

.red {
    background-color: #910000;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    text-align: left;
    list-style-type: none;
    margin-top: 1rem;
    border: 2px solid gray;
    border-top: none;
    border-bottom: none;
    width: fit-content;
    padding: .5rem;
}

span {
    color: rgb(0, 210, 218);
}

label {
    color: bisque;
}

button {
    background-color: rgb(0, 210, 218);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    padding: .5rem;
    margin-top: 1rem;
    width: fit-content;
    margin-inline: 1rem;
}

input {
    padding: .2rem;
    border-radius: 1rem;
    border: none;
    color: #141414;
}